.postHeader {
    padding: var(--spacing-md);
}

.postMetadata {
    border-bottom: 2px solid var(--color-secondary);
    margin-bottom: var(--spacing-md);
    padding: var(--spacing-xs) 0;
}

.postHeader nav {
    border-bottom: 0;
    margin-top: 5px;
    padding: 0
}

.postHeroImage {
    margin-bottom: var(--spacing-xxl);
}

.postHeroImage img {
    display: block;
    width: 100%;
}



.relatedProducts h4 {
    margin: 30px 0;
    text-align: center;
}

@media (min-width: 768px) {
    .items {
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
    }

    .relatedProducts {
        padding-bottom: var(--spacing-xxl);
    }

    .items > div {
        flex: 1 1 50%;
        margin: 0 var(--spacing-md);
    }
}

@media (min-width: 1300px) {
    .postHeader,
    .postHeroImage {
        margin: 0 auto;
        max-width: var(--small-desktop-container-width);
        padding-left: 0;
        padding-right: 0;
    }

    .postHeader {
        margin-top: 40px;
    }

    .content {
       margin-top: 40px;

    }

    .content > div:first-child {
        max-width: var(--small-desktop-container-width);
    }

    .relatedProducts {
        max-width: var(--desktop-container-width);
        margin: 60px auto;
    }
}
