.arrow {
    background: none;
    border: none;
    outline: none;
}

.arrowLeft {
    composes: arrow;
}

.arrowRight {
    composes: arrow;
    transform: rotate(180deg);
}

.arrow[disabled] path {
    fill: var(--color-gray-dark-3);;
}
